body {
    font-family: Arial, sans-serif;
    background-color: #5e5ecc;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    z-index: 10;
    position: absolute; 
    top: 20px; 
    text-align: center;
    color: #f0f0f0;
    background-color: #8b58eb;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.7);
    border-radius: 3px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

label {
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #509952;
    color: white;
    border: none;
    border-radius: 14px;
    font-size: 20px;
    cursor: pointer;
}

input {
    position: absolute;

}

footer {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #5e5ecc;
    position: fixed;
    width: 100%;
    bottom: 20px;  
}

p.result {
    color: #000000;
    font-family: Arial, sans-serif;
    text-align: center;
}

p {
    text-align: center;
}



button:hover {
    background-color: #45a049;
}

h2 {
    text-align: center;
    background-color: #ffffff; 
}

h2.result {
    color: #333;
    font-size: 20px;
    margin-top: 20px;
}
