<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Форма регистрации и входа</title>
    <link rel="stylesheet" href="css/regist.css">
</head>
<body>
    <div class="form-container">
        <h2>Регистрация</h2>
        <form action="register.php" method="POST">
            <label for="name">Имя:</label>
            <input type="text" id="name" name="name" required>

            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Добавить</button>
        </form>
    </div>
    <div class="form-container">
        <h2>Вход</h2>
        <form action="login.php" method="POST">
            <label for="login_name">Имя:</label>
            <input type="text" id="login_name" name="login_name" required>

            <label for="login_password">Пароль:</label>
            <input type="password" id="login_password" name="login_password" required>

            <button type="submit">Войти</button>
        </form>
    </div>
    <footer>
        <a href="/calculate">cscsc</a>
    </footer>
</body>
</html>
