<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="/css/regist.css">
</head>
<body>
    <h1>Тест на отправку данных в базу</h1>
    <form method="POST" action="/">
        <label for="name">Имя</label>
        <input type="text" id="name" name="name" required>
        <br><br>
        <label for="password">Пароль</label>
        <input type="text" id="password" name="password" required>
        <br><br>
        <button type="submit">добавить</button>
    </form>
    <footer>
        <button type="submit"><a href="/calculate" class="regist">войти без регистрации</a></button>
    </footer>
</body>
</html>